$image: "https://jthemes.net/themes/html/bako-html/images/hero.jpg";
$blue: rgba(58,72,180,1);
$sky: rgba(69,233,252,1);

.card {
  color: #fff;
}

.banner {
  background: url($image);
  overflow: hidden;
  border: 0px;
  margin-top: 1em;
  height: 620px;
  background-size: cover;
  background-attachment: fixed;
}

.banner__background {
  background: $blue;
  left: 0;
  top: 0;
  opacity: 0.9;
  height: 100%;
  position: absolute;
  width: 100%;
}

.banner__content {
  padding: 3em;
  z-index: 9;
  color: #fff;
}

.banner__content h1 {
  line-height: 0.7;
  font-size: 60px;
  font-weight: bold;
}

.banner__content p {
  font-size: 16px;
  line-height: 1.8;
}

.banner__btn {
  border-radius: 1em;
  color: #FFF;
  background: #FF5959;
}

.banner__btn.light {
  color: #FFF;
  border: solid 1px #FFF;
  background: transparent;
}

.banner__space {
  display: inline-block;
  width: 30px;
}